

*{
    padding: 0;
    margin: 0;
}

body{
    padding-top: 5rem;
    background-color:  rgb(240, 228, 252);
    
}


/* Background color header */
.bgclr{
   background-color: rgb(102, 14, 95);
}
.head .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.head_btn {
    text-align: center;
    border-color: rgb(85, 32, 85);
    background: rgb(112, 5, 87);
    transition: all 0.4s;
    color: white;
}
.head_btn:hover {
    background: white;
    opacity: 0.8;
    color:rgb(70, 9, 56);
}

/* about kerala */
.kera{
    text-align: justify;
    line-height: 1.25;
    color: rgb(36, 17, 2);
    font-size: large;
}

/* home card */
.bgclrc{
    background-color: cornsilk;
    height: 27em;
 }

 .cardt{
    text-align: center;
   
    color: darkblue;

 }
 a:link {
    text-decoration: none;
  }

 a:hover{
     color: rgb(241, 86, 13);
 }

 /* district card */

 .dcardhp{
     text-transform: uppercase;
     color: rgb(6, 39, 21);
     text-align: center;
     font-size: larger;
    
 }
 .dcardp{
    background-color: cornsilk;
    height: 37em;
 }

 .dcardtp{
     text-align: justify;
     font-size: large;
     color: darkblue;
 }

 /* Centered text */

  .centeredtext{
    color: rgb(104, 37, 37); 
    
   
    text-transform: uppercase;
    font-size: 50px;

  }





  .loglogo{
      height: 40%;
      width: 40%;
  }


  .fotext{
    color: rgb(6, 39, 21);
  
    font-size: 20px;
  }

  

.button {
    position: absolute;
    top: 50%;
}


.button4 {
    border-radius: 12px; 
}

.loginform {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
   
}

.loginform form {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(112, 5, 87);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}


.loginform  a {
    font-weight: bold;
   color: rgb(59, 23, 23);

}    
.loginform h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
    color: white;
}
.loginform .hint-text {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.loginform label{
    text-align: left;
    
}
.loginform .form-group {
    margin-bottom: 20px;
}
.loginform .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.login-btn {
    text-align: center;
    border-color: rgb(85, 32, 85);
    background: rgb(70, 9, 56);
    transition: all 0.4s;
    color: white;
}
.login-btn:hover {
    background: white;
    opacity: 0.8;
    color:rgb(70, 9, 56);
}





/* signup form */
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}
.form-control:focus {
    border-color: white;
}
.form-control, .btn {
    border-radius: 50px;
    outline: none ;
}
.signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(112, 5, 87);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}
.signup-form a {
    font-weight: bold;
   color: rgb(59, 23, 23);
}    
.signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
    color: white;
}
.signup-form .hint-text {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;

}



.signup-form .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.signup-btn {
    text-align: center;
    border-color: rgb(85, 32, 85);
    background: rgb(70, 9, 56);
    transition: all 0.4s;
    color: white;
}
.signup-btn:hover {
    background:white;
    opacity: 0.8;
    color: rgb(70, 9, 56);;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}	
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #507cc0;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}
/* districts page */


.districtintro{
    margin-top: 5%;
    text-align: justify;
    margin-bottom: 5%;
    padding: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 94);
}

.distriplaces{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2em;
    
}

.displaceshead{
    text-align: left;
    padding-bottom: 12px;
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 34, 8);
    text-transform: capitalize;
    
}

.displacescont{
   
    text-align: justify;
    padding-top: 2em;
    
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 27, 94);   
}

.displacesubhe{
   
    text-align: left;
    padding-top: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 34, 8);   
}
footer{
    color: white;
    font-size: 16pxpx;
}